In [2]:
#Error 1 corrected:
mylist=[14, "hello", 967]
mylist[2]

967

In [7]:
#Error 2 corrected:
import pandas
import numpy
#had to install Pandas and Numpy using 'pip' in the cmd

In [8]:
#Error 3 corrected:
print("python errors")
#missing parenthesis

python errors

In [13]:
#Error 4 corrected:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]

'hello'

In [18]:
#Error 5 corrected:
i=14
while i<78:
    print(i)
    i+=1

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

In [22]:
#Error 6 corrected:
it=iter([1,2,3])
next(it)
next(it)
next(it)

3

In [24]:
#Error 7 corrected:
int('15')+15

30

In [25]:
#Error 8 corrected:
int('python')
#cannot turn a string into a integer

ValueError: invalid literal for int() with base 10: 'python'

In [26]:
#Error 9 corrected:
python
#no function or variable called python

NameError: name 'python' is not defined

In [27]:
#Error 10 corrected:
x=19/1
#division by 0 is impossible